    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    /* section{
      background-color: #f4fa9c;
    } */

    header > nav > a,.itemtop > a,.itemside > a{
      color:  #f1f1f1 !important;
    } 
    .dropdown-menu{
      background-image: linear-gradient(to right, rgb(236, 0, 140), rgb(252, 103, 103));
    }

    .topnav {
           background-image: linear-gradient(to right, rgb(66, 39, 90), rgb(115, 75, 109));  
    }
    footer{
      background-image: linear-gradient(to right, rgb(236, 0, 140), rgb(252, 103, 103));
    }

    .jumbotron,section{
      background-color: #f4fa9c;
      /* background-image: linear-gradient(to right, rgb(202, 197, 49), rgb(243, 249, 167));  */
    }
    .boton {
      background-color: #d81d55 !important;
      border: none;
      float: right;
      display:none;
    }
    .itemtop:hover,.itemside:hover {
      border-radius: 50px;
      /* background-color: #ff1f62; */
      background-image: linear-gradient(to right, rgb(236, 0, 140), rgb(252, 103, 103));
    }
    aside{
      background-color: #42275A;
    }


    .navbar-brand {
      text-align: center;
      /* background-color: #2d053b !important; */
    }

    .active{
      /* border:solid black 1px; */
    }

    #topbarelements {
      z-index: 1000;
      background-color: grey;
      width: 100%;
      text-align: center;
    }

    .outline {
      border: solid black 2px;
    }


    @media only screen and (max-width: 989px) {
      .navitems {
        display: none;
      }
    }


    @media only screen and (width: 990px) {
      .navitems {
        display: block !important;
      }
    }

    @media only screen and (min-width: 989px) {
      .navitems {
        display: block !important;
      }
    }
    @media only screen and (max-width: 989px) {
      .sidebar {
        
        min-width:0px !important;
       
      }
    }

    aside > nav:last-child > #sidebarnav > ul > li > a{
      font-weight: bold;
    }
   

    .cardvalue{
      float: right;
      margin:0 !important;
    }


    /* The sidebar */
    .sidebar {
      min-width:200px;
      padding:0;
      height: 100%;
      display: block !important;
      /* background-color: rgb(255, 255, 128); */
    }

    .fixed {
      position: fixed;
    }

    /* .navbar{
        position:fixed;
      } */
    



    .navitems {
      height: 100%;
      width: 100%;
    }

    .navitems-ul {
      height: 100%;
      width: 100%;

    }


    .plusimg {
      height: 32px; 
      width: 32px;
    }

    .plusontop {
      /* height: 15px;
        width: 15px;
        padding:0; */
      /* padding-top: 13px; */
    }



  

    
    .txt-center {
      text-align: center;
    }




    /* STYLING MODELS */

    @media screen and (min-width: 992px) {
      .modal-dialog {
        max-width: 100%;
        /* New width for large modal */
        /* margin:auto; */
      }

    }

    @media only screen and (min-width: 600px) {

      /* For tablets: */
      .modal-dialog {
        max-width: 100%;
        /* New width for large modal */
        /* margin:auto; */
      }
    }

    .itemimg {
      max-width: 100%;
      height: auto;
    }

    footer{
      max-height:90px;
    }