.detailslist {
    height: 100%;
    padding:0;
    max-width:10%;
    border-bottom: solid rgb(216, 216, 212) 2px;
    border-right:solid rgb(216, 216, 212) 2px;
  }
  .vendorlistcontainer {
    height: 100%;
    padding:0;
    border-bottom: solid rgb(216, 216, 212) 2px;
    border-right:solid rgb(216, 216, 212) 2px;
  }
  .vendorlistbar{
    height:100%;
  }
  .listViewinDetails{
    height:50px;
    width:100%;
    border-bottom:solid rgb(216, 216, 212) 2px;;
  }
  
  .vendorlisthover:hover{
    border: solid red 5px;
    background-color: #888;
  }
  
  .displaydetails{
    height:100%;
    
    padding:0;
  
  }
  .detailsHeader{
    width:100%;
    height:100px;
  }
  
  .detlistHeader{
    height:60px;
  }
  
  .cusdropdown {
    float: left;
    padding-top: 8;
    border: none;
    background-color: white;
  }
  
  .list {
    max-height: 200px;
    margin-top: 4px;
    margin-right:0;
    padding-right:0;
    border-bottom:solid rgb(95, 94, 94) 1px;
    border-left:solid rgb(95, 94, 94) 1px;
    border-right:solid rgb(95, 94, 94) 1px;
  }
  
  .list-ele{
    max-height: 200px;
    margin:0;
    overflow:auto;
  }

  