.cardkey{
    float:left;
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

.cardvalue{
    float:right;
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'numberfonts';
    src: url('../fonts/crashnumberinggothic-majp-webfont.woff2') format('woff2'),
         url('../fonts/crashnumberinggothic-majp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}